* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: lightgray;
    font-size: 13px;
}

a:hover{
    color: #fff;
}

.imagem-fundo {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: red;
   background: url(img/paisagem.jpg);
   background-size: cover;
   margin: 0px auto;
}

#box {
    width: 300px;
    height: 300px;
    position: absolute;
    background: linear-gradient(rgb(25, 2, 114), rgb(95, 27, 203));
    border-radius: 15px;
    box-shadow: 1px 6px 9px #000;
    align-items: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 50px;
}
.formulario{
    display: flex;
    flex-direction: column;
}

input {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 50px;
}

.btn {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, orangered, orange);
    cursor: pointer;
}

.description {
    color: lightgray;
    font-size: 13px;
}

.description a{
    font-weight: 700;
}